/* @override http://localhost:9000/styles/main.css */

/* Will be compiled down to a single stylesheet with your sass files */
/* CSS declarations go here */

@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');
@import url('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css');
@import url('/components/bootstrap-datepicker/css/datepicker.css');
@import url('/components/bootstrap-colorpicker/css/colorpicker.css');
/* @group Global */

@font-face {
	font-family: "Chalkboard";
	font-style: normal;
	src: url(../fonts/Chalkboard.ttc); /*if IE */
	src: local("Chalkboard"), url("../fonts/Chalkboard.ttc") format("truetype");     
}

html, body{ 
 	padding-top:35px;
	font-family: Chalkboard, Monico, "Droid Sans";
	color: #333;
}
body.white{
	background: #eee url(http://482d8830b65aad08759c-061ea4bce065674c4dd94b6a107d8d5d.r97.cf1.rackcdn.com/img/bg-chalkboard-white.png) repeat scroll 0 0;
}
body.green{
	background: #eee url(http://482d8830b65aad08759c-061ea4bce065674c4dd94b6a107d8d5d.r97.cf1.rackcdn.com/img/bg-chalkboard-green.png) repeat scroll 0 0;
}
body.black{
	background: #eee url(http://482d8830b65aad08759c-061ea4bce065674c4dd94b6a107d8d5d.r97.cf1.rackcdn.com/img/bg-chalkboard-black.png) repeat scroll 0 0;
}
.chart-table{
	width: 225px;
	margin-right: 15px;
}

legend{
	color: #444;
	border-bottom: 1px dashed #444;
}
/* AngularJS Forms Validation
-------------------------------------------------- */
input.ng-invalid,
textarea.ng-invalid,
select.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input.ng-invalid:focus,
textarea.ng-invalid:focus,
select.ng-invalid:focus {
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
  border-color: #e9322d;
}
/* Popover
-------------------------------------------------- */
.popover .form-actions {
  margin: 0 -14px -29px;
  padding: 9px 10px 10px;
  border-radius: 0 0 5px 5px;
}
.filters {
	margin-top: 3px;
	margin-right: 5px;
}
.right{
	text-align: right;
}

h1{
	color: #222;
}
h3{
	font-size: 1.6em;
	white-space: nowrap;
	margin-top: 2px;
	margin-bottom: 2px;
}

.navbar.navbar-inverse .navbar-inner {
	
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.hero-unit{
	padding: 15px;
	border: 1px solid #ccc;
}
.hero-unit-green{
	padding: 15px;
	border: 1px solid #ccc;
	background: #333; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #6ACA92 0%, #3A8A56 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#6ACA92), color-stop(100%,#3A8A56)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #6ACA92 0%,#3A8A56 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #6ACA92 0%,#000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #6ACA92 0%,#3A8A56 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover, #6ACA92 0%,#3A8A56 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ACA92', endColorstr='#3A8A56',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.well{
	border: 1px solid #ccc;	
}


.main-features {
  margin-top: 5px;      
}
.sub-features{
  margin-top: 5px !important;
}


footer p{
	text-align:center;
}

footer{
	clear: both;
	color: #ccc;
	font-size: 11px;
	margin-top: 55px;
	margin-bottom: 25px;
}
footer a {
	color: #ccc;
	
}
.center{
	text-align:center;
}

/* @end */
/* @group Widgets */
.widget{
	padding: 5px;
}

.widget footer{
	padding: 5px 15px;
	background: #eee;
	clear: both;
	margin: 5px 0 0;
}
.widget h3{
	color: #444;
	border-bottom: 1px dashed #444;	
	font-weight: normal;
	margin-bottom: 15px;
	cursor: pointer;
}

/* @end */
/* @group Tables */

.box .chart-table{
	padding: 2px;
	margin-right: 15px;
	width: 245px;
}

.table-small, .small{
	font-size: 11px;
}

/* @end */



/* @group Labels */

.label-grains{
  background-color: #CB662E;
}
.label-vegetables{
  background-color: #54B631;
}
.label-fruits{
  background-color: #E33B54;
}
.label-dairy{
  background-color: #4D90D1;
}
.label-protein{
  background-color: #7D62A3;
}


.label-remaining{
  background-color: #3a87ad;
}
.label-used{
  background-color: #E33B54;
}
.label-allowed{
  background-color: #999999;
}

/* @end */

/* @group Responsive */

/* Large desktop */
@media (min-width: 1200px) { 
  
  }
  
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
		html, body{
	padding-top: 0px;
}
  .hero-unit h1{
    font-size:2em;
  }
  .widget .pull-left{
	width: 100% !important;
}
  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
.widget .pull-left{
	width: 100% !important;
}
	html, body{
	padding-top: 0px;
}
  .hero-unit{
    padding: 15px 25px;
  }
  .hero-unit h1{
    font-size:1.6em;
  }
  .hero-unit p{
    font-size: .9em;
  }
  }
 
/* Landscape phones and down */
@media (max-width: 480px) { 
.widget .pull-left{
	width: 100% !important;
}
.chart-table{
	
	width: 100%;
}
/* Hide filters*/
  .filters{
	display: none;
}
  }

/* @end */