<div id="about-row" class="row-fluid">
	<div class="span12">
		<legend>Overview</legend>
		<p>This application was created for the ChartJS Dashboard Challenge, the purpose was to demonstrate using ChartJS charts to display visual data to the user in an engaging way.</p>
		
		<legend>Data Sources</legend>
		<p>The data comes from a variety of places, the most important things in someones life is there career, health and network, so the career data comes from my own personal bank account,
			career, the health data comes from my entries, and the network data comes from my social networks.</p>
			
		<legend>Resources</legend>
		<p>This application would not be possible without all of the great web technologies out today, here is a list of technologies used to create this web application:</p>
		
		<p>
			<ul class="unstyled">
				<li>
					<a href="#">AngularJS</a>
				</li>
				<li>
					<a href="#">ChartJS</a>
				</li>
				<li>
					<a href="#">Font-Awesome</a>
				</li>
				<li>
					<a href="#">Yeoman</a>
				</li>
				<li>
					<a href="#">Plunker</a>
				</li>
				<li>
					<a href="#">Twitter Bootstrap</a>
				</li>
			</ul>
		</p>  
	</div>	
</div>