
   
  <div class="pull-right filters">
    <div class="input-append">
      <input type="text" class="input-small" placeholder="Start Date">
      <button class="btn btn-sall">
        <i class="icon-calendar"></i> 
      </button>
    </div>
    <div class="input-append">
      <input type="text" class="input-small" placeholder="End Date">
      <button class="btn btn-sall">
        <i class="icon-calendar"></i> 
      </button>
    </div>
  </div>
  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
      <span class="divider">/</span> 
    </li>
    <li class="active">My Career</li>
  </ol>
  <div class="row-fluid main-features">
    <div class="span4">
      <legend>Cash Flow</legend>
      <table class="table table-small table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount ($USD)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AppMatrix, Inc.</td>
            <td>$1,200.00</td>
          </tr>
          <tr>
            <td>AcademyX</td>
            <td>$1,200.00</td>
          </tr>
          <tr>
            <td>O'Reily Publishing</td>
            <td>$350.00</td>
          </tr>
          <tr>
            <td>Packet Publishing</td>
            <td>$1,000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span8">
      <legend>Net Worth Performance</legend>
      <div class="box">
        <img src="http://placehold.it/750x225&amp;text=Line Chart"> 
      </div>
    </div>
  </div>
  <div class="row-fluid sub-features">
    <div class="span6">
      <legend>Expenses</legend>
      <div class="box">
        <img src="http://placehold.it/200x200&amp;text=Doughnut Chart">
        <div class="pull-left chart-table">
        <table class="table table-small table-hover">
        	<thead>
				<tr>
					<th>Category</th>
					<th>Amount ($USD)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Entertainment
					</td>
					<td>
						$240.00
					</td>
				</tr>
			</tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="span6">
      <legend>Assets</legend>
      <div class="box">	
	        <img src="http://placehold.it/200x200&amp;text=Radar Chart">
			<div class="pull-left chart-table">
			 <table class="table table-small table-hover">
		        	<thead>
						<tr>
							<th>Name</th>
							<th>Amount ($USD)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1999 Jeep Grand Cherokee
							</td>
							<td>
								$4,500
							</td>
						</tr>
						<tr>
							<td>
								2013 Kawasaki Ninja 650
							</td>
							<td>
								$10,500
							</td>
						</tr>
					</tbody>
		        </table>
		</div>

      </div>
    </div>
  </div>

