<article id="career" ng-init="Career.init()">
	<div class="clearfix filters center pull-right">
		<div class="input-append">
			<input type="text" class="input-small" placeholder="Todays Date" data-date-format="mm/dd/yyyy" bs-datepicker ng-model="currentDate"/>
			<button class="btn btn-sall" data-toggle="datepicker">
				<i class="icon-calendar"></i>
			</button>
		</div>
	</div>
	<ol class="breadcrumb">
		<li>
			<a href="#">Home</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			My Career
		</li>
	</ol>
	<div class="row-fluid main-features">
		<div class="span4">
			<widget title="Income" icon="money" modal="addIncomeModal">
				<div ng-hide="(Career.data.income | filter:dateFilter).length" class="alert alert-info">
					<strong>Heads Up!</strong> You do not have any income for the selected date.
				</div>
				<table class="table table-small table-hover" ng-show="(Career.data.income | filter:dateFilter).length">
					<thead>
						<tr>
							<th>Name</th>
							<th>Amount</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in Career.data.income | filter:dateFilter" id="income-{{item.id}}">
							<td><span class="label" style="background-color: {{item.color}}">&nbsp;</span><a href="#addIncomeModal" data-toggle="modal" ng-click="Career.selectIncome(item);">{{item.title}}</a></td>
							<td>{{item.amount | currency:$}}</td>
							<td class="actions right">
							<button ng-click="Career.destroyItem( 'Income', item);" class="btn btn-mini btn-danger">
								<i class="icon-remove"></i>
							</button></td>
						</tr>
					</tbody>
				</table>
			</widget>
		</div>
		<!-- @TODO: [Networth] -->
		<div class="span8">
			<widget title="Net Worth Performance">
				<chartjs id="networthChart" type="bar"
				data='{{Career.chartdata.networth}}'
				ng-model="Career.chartdata.networth"
				width="600" height="200">
					<img src="http://placehold.it/750x225&amp;text=Line Chart">
				</chartjs>
			</widget>
		</div>
	</div>
	<!-- @TODO: [Expenses] -->
	<div class="row-fluid sub-features">
		<div class="span6">
			<widget title="Expenses" modal="addExpenseModal">
				<div ng-hide="(Career.data.expenses | filter:dateFilter).length" class="alert alert-info">
					<strong>Heads Up!</strong> You do not have any expenses for the selected date.
				</div>
				<div id="expenses-row" class="row-fluid" ng-show="(Career.data.expenses | filter:dateFilter).length">
					<div class="span6">
						<table class="table table-small table-hover">
							<thead>
								<tr>
									<th>Category</th>
									<th>Amount</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in Career.data.expenses | filter:dateFilter" id="expense-{{item.id}}">
									<td><span class="label" style="background-color: {{item.color}}">&nbsp;</span><a href="#addExpenseModal" data-toggle="modal" ng-click="Career.selectExpense(item);">{{item.title}}</a></td>
									<td>{{item.amount | currency:$}}</td>
									<td class="actions right">
									<button ng-click="Career.destroyItem( 'Expense', item);" class="btn btn-mini btn-danger">
										<i class="icon-remove"></i>
									</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="span6 center">
						<chartjs id="expensesChart" type="doughnut" data='{{Career.chartdata.expenses}}' ng-model="Career.chartdata.expenses" width="150" height="150">
							<img src="http://placehold.it/200x200&amp;text=Radar Chart" alt="Your browser does not support the canvas element"/>
						</chartjs>
					</div>
				</div>
			</widget>
		</div>
		<!-- @TODO: [Assets] -->
		<div class="span6">
			<widget title="Assets" modal="addAssetModal">
				<div id="assets-row" class="row-fluid">
					<div class="span6">
						<table class="table table-small table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Amount</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in Career.data.assets" id="asset-{{item.id}}">
									<td><span class="label" style="background-color: {{item.color}}">&nbsp;</span><a href="#addAssetModal" data-toggle="modal" ng-click="Career.selectAsset(item);">{{item.title}}</a></td>
									<td>{{item.amount | currency:$}}</td>
									<td class="actions right">
									<button ng-click="Career.destroyItem( 'Asset', item);" class="btn btn-mini btn-danger">
										<i class="icon-remove"></i>
									</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="span6 center">
						<chartjs id="assetsChart" type="pie"
						data='{{Career.chartdata.assets}}'
						ng-model="Career.chartdata.assets"
						width="150" height="150">
							<img src="http://placehold.it/200x200&amp;text=Radar Chart">
						</chartjs>
					</div>
				</div>
			</widget>
		</div>
	</div>
	<!-- @TODO: [Expense Modal] -->
	<div class="modal fade hide" id="addExpenseModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				×
			</button>
			<h3>Expense Details</h3>
		</div>
		<div class="modal-body">
			<form id="form_expense" class="form-horizontal">
				<formitem title="Name:">
					<input type="text" class="input-medium" ng-model="expense.title"/>
				</formitem>
				<formitem title="Amount:">
					<input type="text" class="input-medium" ng-model="expense.amount" />
				</formitem>
				<formitem title="Category:">
					<input type="text" class="input-medium" ng-model="expense.category" />
				</formitem>
				<formitem title="Date:">
					<input type="text" class="input-medium" ng-model="expense.date" data-date-format="mm/dd/yyyy" bs-datepicker>
				</formitem>
				<formitem title="Color:">
					<input colorpicker="hex" class="input-medium" value="" type="text" ng-model="expense.color"/>
				</formitem>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<button ng-click="Career.addExpense(expense)" class="btn btn-primary">
				Save
			</button>
		</div>
	</div>
	<!-- @TODO: [Income Modal] -->
	<div class="modal fade hide" id="addIncomeModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				×
			</button>
			<h3>Income Details</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<formitem title="Name:">
					<input type="text" class="input-medium" ng-model="income.title">
				</formitem>
				<formitem title="Amount:">
					<input type="text" class="input-medium" ng-model="income.amount">
				</formitem>
				<formitem title="Date:">
					<input type="text" class="input-medium" ng-model="income.date" data-date-format="mm/dd/yyyy" bs-datepicker>
				</formitem>
				<formitem title="Color:">
					<input colorpicker="hex" class="input-medium" value="" type="text" ng-model="income.color"/>
				</formitem>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<button ng-click="Career.addIncome(income);" class="btn btn-primary">
				Save
			</button>
		</div>
	</div>
	<!-- @TODO: [Asset Modal] -->
	<div class="modal fade hide" id="addAssetModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				×
			</button>
			<h3>Asset Details</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<formitem title="Name:">
					<input type="text" class="input-medium" ng-model="asset.title"/>
				</formitem>
				<formitem title="Amount:">
					<input type="text" class="input-medium" ng-model="asset.amount"/>
				</formitem>
				<formitem title="Category:">
					<input type="text" class="input-medium" ng-model="asset.category"/>
				</formitem>
				<formitem title="Date:">
					<input type="text" class="input-medium" ng-model="asset.date" data-date-format="mm/dd/yyyy" bs-datepicker>
				</formitem>
				<formitem title="Color:">
					<input colorpicker="hex" class="input-medium" value="" type="text" ng-model="asset.color"/>
				</formitem>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<button ng-click="Career.addAsset(asset)" class="btn btn-primary">
				Save
			</button>
		</div>
	</div>
</article>