<article id="career" ng-init="Career.init()">
	<div class="clearfix filters center pull-right">
		<div class="input-append">
			<input type="text" class="input-small" placeholder="Start Date" data-date-format="mm/dd/yyyy" bs-datepicker/>
			<button class="btn btn-sall" data-toggle="datepicker">
				<i class="icon-calendar"></i>
			</button>
		</div>
		<div class="input-append">
			<input type="text" class="input-small" placeholder="End Date" data-date-format="mm/dd/yyyy" bs-datepicker />
			<button class="btn btn-sall" data-toggle="datepicker">
				<i class="icon-calendar"></i>
			</button>
		</div>
	</div>
	<ol class="breadcrumb">
		<li>
			<a href="#">Home</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			My Career
		</li>
	</ol>
	<div class="row-fluid main-features">
		<div class="span4">
			<widget title="Income" icon="money">
				<table class="table table-small table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Amount ($USD)</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in Career.data.income" id="income-{{item.objectId}}">
							<td>{{item.title}}</td>
							<td>{{item.amount | currency:$}}</td>
						</tr>
					</tbody>
				</table>
				<footer>
					<a class="btn btn-mini" data-toggle="modal" href="#addIncomeModal" ><i class="icon-plus"></i>Add Income</a>
				</footer>
			</widget>
		</div>
		<!-- @TODO: [Networth] -->
		<div class="span8">
			<widget title="Net Worth Performance">
				<chartjs id="networthChart" type="line" data='{{Career.chartdata.networth}}' ng-model="Career.chartdata.networth" width="600" height="200">
					<img src="http://placehold.it/750x225&amp;text=Line Chart">
				</chartjs>
				
			</widget>
		</div>
	</div>
	<!-- @TODO: [Expenses] -->
	<div class="row-fluid sub-features">
		<div class="span6">
			<widget title="Expenses">
				<div id="expenses-row" class="row-fluid">
					<div class="span6">
							<table class="table table-small table-hover">
								<thead>
									<tr>
										<th>Category</th>
										<th>Amount ($USD)</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in Career.data.expenses" id="income-{{item.objectId}}">
										<td>{{item.title}}</td>
										<td>{{item.amount | currency:$}}</td>
									</tr>
								</tbody>
							</table>		
					</div>
					<div class="span6 center">
							<chartjs id="expensesChart" type="pie" data='{{Career.chartdata.expenses}}' width="150" height="150">
								<img src="http://placehold.it/200x200&amp;text=Radar Chart">
							</chartjs>						
					</div>	
				</div>
				
				<footer>
					<a class="btn btn-mini" data-toggle="modal" href="#addExpenseModal" ><i class="icon-plus"></i> Add Expense</a>
				</footer>
			</widget>
		</div>
		<!-- @TODO: [Assets] -->
		<div class="span6">
			<widget title="Assets">



					<div id="assets-row" class="row-fluid">
						<div class="span6">
							<table class="table table-small table-hover">
								<thead>
									<tr>
										<th>Name</th>
										<th>Amount ($USD)</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in Career.data.assets" id="income-{{item.objectId}}">
										<td>{{item.title}}</td>
										<td>{{item.amount | currency:$}}</td>
									</tr>
								</tbody>
							</table>
							
						</div>
						<div class="span6 center">
							<chartjs id="assetsChart" type="pie" data='{{Career.chartdata.assets}}' width="150" height="150">
								<img src="http://placehold.it/200x200&amp;text=Radar Chart">
							</chartjs>							
						</div>	
					</div>
				<footer>
					<a class="btn btn-mini" data-toggle="modal" href="#addAssetModal" ><i class="icon-plus"></i> Add Asset</a>
				</footer>
			</widget>
		</div>
	</div>
	
	<!-- @TODO: [Expense Modal] -->
	<div class="modal fade hide" id="addExpenseModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				×
			</button>
			<h3>Add Expense</h3>
		</div>
		<div class="modal-body">
			<form id="form_expense" class="form-horizontal">
				<formitem title="Name:">
					<input type="text" class="input-medium" ng-model="expense.title"/>
				</formitem>
				<formitem title="Amount:">
					<input type="text" class="input-medium" ng-model="expense.amount" />
				</formitem>
				<formitem title="Category:">
					<input type="text" class="input-medium" ng-model="expense.category" />
				</formitem>
				<formitem title="Date:">
					<input type="text" class="input-medium" ng-model="expense.date" data-date-format="mm/dd/yyyy" bs-datepicker>
				</formitem>
				<formitem title="Color:">
				  <input type="color" class="input-medium colorpicker" ng-model="expense.color">
				</formitem>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<button ng-click="Career.addExpense(expense)" class="btn btn-primary">
				Save
			</button>
		</div>
	</div>
	
	<!-- @TODO: [Income Modal] -->
	<div class="modal fade hide" id="addIncomeModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				×
			</button>
			<h3>Add Income</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<formitem title="Name:">
					<input type="text" class="input-medium" ng-model="income.title">
				</formitem>
				<formitem title="Amount:">
					<input type="text" class="input-medium" ng-model="income.amount">
				</formitem>
				<formitem title="Date:">
					<input type="text" class="input-medium" ng-model="income.date" data-date-format="mm/dd/yyyy" bs-datepicker>
				</formitem>
				<formitem title="Color:">
				  <input type="color" class="input-medium colorpicker" ng-model="income.color">
				</formitem>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<button ng-click="Career.addIncome(income);" class="btn btn-primary">
				Save
			</button>
		</div>
	</div>

	<!-- @TODO: [Asset Modal] -->
	<div class="modal fade hide" id="addAssetModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				×
			</button>
			<h3>Add Asset</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<formitem title="Name:">
					<input type="text" class="input-medium" ng-model="asset.title"/>
				</formitem>
				<formitem title="Amount:">
					<input type="text" class="input-medium" ng-model="asset.amount"/>
				</formitem>
				<formitem title="Category:">
					<input type="text" class="input-medium" ng-model="asset.category"/>
				</formitem>
				<formitem title="Date:">
					<input type="text" class="input-medium" ng-model="asset.date" data-date-format="mm/dd/yyyy" bs-datepicker>
				</formitem>
				<formitem title="Color:">
				  <input type="color" class="input-medium colorpicker" ng-model="asset.color">
				</formitem>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<button ng-click="Career.addAsset(asset)" class="btn btn-primary">
				Save
			</button>
		</div>
	</div>
</article>