<article id="health" ng-init="Health.init()">

	<div class="pull-right filters">
		Todays Date: {{currentDate | date:'mediumDate' }}
	</div>
	<ol class="breadcrumb">
		<li>
			<a href="#">Home</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			My Health
		</li>
	</ol>
	<div class="alert alert-block hidden">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>My Health - Board</h4>
		<p>
			Hi {{user.name}}, your personal Calorie goal is 3000. Your plan amounts are based on meeting
			your nutrient needs. See <a data-toggle="modal" href="#healthProfileModal" >your plan</a> for more details.
		</p>
	</div>
	
	<div class="row-fluid main-features">
		<div class="span3">
			<widget title="Meals" modal="addFoodModal">
					<ul class="nav nav-list">
						<li class="nav-header">
							Breakfast 
						</li>
						<li ng-repeat="item in Health.data.foods | filter:filterBreakfast">
							{{item.title}} - {{item.calories}} cal.
						</li>
						<li class="nav-header">
							Lunch
						</li>
						<li ng-repeat="item in Health.data.foods | filter:filterLunch">
							{{item.title}} - {{item.calories}} cal.
						</li>

						<li class="nav-header">
							Dinner
						</li>
						<li ng-repeat="item in Health.data.foods | filter:filterDinner">
							{{item.title}} - {{item.calories}} cal.
						</li>
					</ul>

			</widget>
		</div>
		<div class="span9">
			<widget title="Activity" modal="addActivityModal">
				<chartjs id="weeklyChart" data='{{weeklyData}}' ng-model="weeklyData" type="bar" width="700" height="200"></chartjs>
			</widget>
			
		</div>
		<div class="row-fluid sub-features">
			<div class="span5">
				<widget title="Calorie Limit">
					<div class="center clearfix">
						<chartjs id="calorieLimitsChart" height="200" width="200" data='{{dailyCalorieLimitsData}}'s type="doughnut" ng-model="dailyCalorieLimitsData">
							<img src="http://placehold.it/200x150&amp;text=PieChart">
						</chartjs>
						<p>
							<ul class="inline small">
								<li>
									Allowed: <span class="label label-success">{{dailyCaloriesLimit}}</span>
								</li>
								<li>
									Used: <span class="label label-warning">{{dailyCaloriesUsed}}</span>
								</li>
								<li>
									Remaining: <span class="label label-info">{{dailyCaloriesRemaining}}</span>
								</li>
							</ul>
						</p>
					</div>
				</widget>
				
			</div>
			<div class="span7">

				<widget title="Food Group Targets">
						<div class="center clearfix">
							<chartjs id="dailyFoodgroupChart" width="500" height="200" type="bar" data='{{dailyFoodgroupsData}}' ng-model="dailyFoodgroupsData">
								<img src="http://placehold.it/500x150&amp;text=Bar Chart">
							</chartjs>
							<p>
								<ul class="inline small">
									<li>
										Grains: <span class="label label-grains">10 oz.</span>
									</li>
									<li>
										Vegies: <span class="label label-vegetables">32 oz.</span>
									</li>
									<li>
										Fruits: <span class="label label-fruits">20 oz.</span>
									</li>
									<li>
										Dairy: <span class="label label-dairy">24 oz.</span>
									</li>
									<li>
										Proteins: <span class="label label-protein">7 oz.</span>
									</li>
								</ul>
							</p>
						</div>
				</widget>
			</div>
		</div>
		
		<div id="health-row" class="row-fluid">
			<div class="span12">
				<tabs>
					<pane title="Activities">
						<widget title="Activities" modal="addActivityModal">
							<table id="activity-table" class="table table-bordered table-small table-hover ">
								<thead>
									<tr>
										<th>
										<input type="checkbox" class="checkall"/>
										</th>
										<th>Activity</th>
										<th>Duration</th>
										<th>Intensity</th>
										<th>Calories Burned</th>
										<th>Date</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in Health.data.activities" id="activity-{{item.id}}">
										<td>
										<input type="checkbox"/>
										</td>
										<td>{{item.title}}</td>
										<td>{{item.duration}}</td>
										<td>{{item.intensity}}</td>
										<td>{{item.calories}}</td>
										<td>{{item.date | date:'mediumDate'}}</td>
										<td class="actions">
											<div class="btn-group">
												<a href="#addActivityModal" data-toggle="modal" ng-click="Health.selectActivity(item);" class="btn btn-small"><i class="icon-edit"></i></a>
												<a href="#" ng-click="Health.destroyActivity(item);" class="btn btn-small btn-danger delete"><i class="icon-remove"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</widget>
					</pane>
					<pane title="Food Entries">
						<widget title="Food Entries" modal="addFoodModal">
							<table id="food-table" class="table table-bordered table-small table-hover ">
								<thead>
									<tr>
										<th>
										<input type="checkbox" class="checkall"/>
										</th>
										<th>Food</th>
										<th>Meal</th>
										<th>Calories</th>
										<th>Date</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in Health.data.foods" id="food-{{item.id}}">
										<td>
										<input type="checkbox"/>
										</td>
										<td>{{item.title}}</td>
										<td>{{item.meal}}</td>
										<td>{{item.calories}}</td>
										<td>{{item.date | date:'mediumDate'}}</td>
										<td class="actions">
											<div class="btn-group">
												<a href="#addFoodModal" data-toggle="modal" ng-click="Health.selectFood(item);" class="btn btn-small"><i class="icon-edit"></i></a>
												<button ng-click="Health.destroyFood(item);" class="btn btn-small btn-danger delete"><i class="icon-remove"></i></button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</widget>
					</pane>
				</tabs>
			</div>
		</div>
		<!-- @TODO: [Add Activity Modal] -->
		<div class="modal fade hide" id="addActivityModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					×
				</button>
				<h3>Add Activity</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<formitem title="Name:">
						<input type="text" class="input-medium" ng-model="activity.title"/>
					</formitem>
					<formitem title="Description:">
						<textarea class="input-medium" ng-model="activity.body"></textarea>
					</formitem>
					<formitem title="Duration:">
						<input type="number" class="input-medium" ng-model="activity.duration"/>
						<span class="help-inline">minutes</span>
					</formitem>
					<formitem title="Intensity:">
						<input type="text" class="input-medium" ng-model="activity.intensity"/>
					</formitem>
					<formitem title="Calories Burned:">
						<input type="number" class="input-medium" ng-model="activity.calories"/>
					</formitem>
					<formitem title="Date:">
						<input type="text" class="input-medium" ng-model="activity.date" data-date-format="mm/dd/yyyy" bs-datepicker>
					</formitem>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button class="btn btn-primary" ng-click="Health.addActivity(activity)">
					Save
				</button>
			</div>
		</div>
		<!-- @TODO: [Add Food Modal] -->
		<div class="modal fade hide" id="addFoodModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					×
				</button>
				<h3>Add Food Entry</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<formitem title="Name:">
						<input type="text" class="input-medium" ng-model="food.title"/>
					</formitem>
					<formitem title="Meal:">
						<select class="input-medium" ng-model="food.meal" ng-options="meal for meal in meals"></select>
					</formitem>
					<formitem title="Date:">
						<input type="text" class="input-medium" ng-model="food.date" data-date-format="mm/dd/yyyy" bs-datepicker>
					</formitem>
					<formitem title="Calories:">
						<input type="number" class="input-medium" ng-model="food.calories"/>
					</formitem>
					
					<legend>Food Groups</legend>
					<formitem title="Grains:">
						<input type="number" class="input-medium" ng-model="food.foodgroups.grains"/>
					</formitem>
					<formitem title="Vegetables:">
						<input type="number" class="input-medium" ng-model="food.foodgroups.vegetables"/>
					</formitem>
					<formitem title="Dairy:">
						<input type="number" class="input-medium" ng-model="food.foodgroups.dairy"/>
					</formitem>
					<formitem title="Protein Foods:">
						<input type="number" class="input-medium" ng-model="food.foodgroups.protein"/>
					</formitem>
					<formitem title="Oils:">
						<input type="number" class="input-medium" ng-model="food.foodgroups.oils"/>
					</formitem>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button ng-click="Health.addFood(food);" class="btn btn-primary">
					Save
				</button>
			</div>
		</div>
		<!-- @TODO: [Health Profile] -->
		<div class="modal fade hide" id="healthProfileModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					×
				</button>
				<h3>Your Health Profile</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<formitem title="Name:">
						<input type="text" class="input-medium" ng-model="user.name"/>
					</formitem>
					<formitem title="Gender:">
						<input type="text" class="input-medium" ng-model="user.gender"/>
					</formitem>
					<formitem title="Height:">
						<input type="text" class="input-medium" ng-model="user.height"/>
					</formitem>
					<formitem title="Weight:">
						<input type="number" class="input-medium" ng-model="user.weight"/>
					</formitem>
					<formitem title="Weekly Activity Goal:">
						<select class="input-large" ng-model="user.activity">
							<option value="30">Less than 30 min./day of moderate activity</option>
							<option value="45">More than 30 min./day of moderate activity</option>
							<option value="60">Less than 60 min./day of moderate activity</option>
							<option value="120">More than 60 min./day of moderate activity</option>
						</select>
					</formitem>
					<formitem title="Daily Calories Goal:">
						<input type="number" class="input-medium" ng-model="user.calories"/>
					</formitem>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button ng-click="Health.saveUser(user)" class="btn btn-primary">
					Save
				</button>
			</div>
		</div>
</article>