<div class="hero-unit hidden-">
	 <h1>Welcome to My-(dash)board!</h1>
	 <p>Your data from various social networks all displayed using the beautiful ChartJS library.</p>
  </div>

	<div class="row main-features">
		<div class="span6">
			<widget  id="widget2" title="My Budget">
				<canvas id="budgetChart" height="175"></canvas>
			</widget>
		</div>
		<div class="span6">
			<widget id="widget1" title="My Tasks">
				<chartjs id="chart1" data="{{chart1}}" type="pie"></chartjs>
			</widget>
		</div>
	</div>