<div class="hero-unit hidden-">
	<div class="row-fluid">
		<div class="span7 center">
			<h1>Welcome!</h1>
			<p>My-Board is your personal career, health and life dashboard.</p>
			<a class="btn btn-large btn-primary" data-toggle="modal" href="#signupModal" ng-hide="App.currentUser"><i class="icon-star"></i> Sign Up</a>
			
			<a class="btn btn-large btn-" href="#/about" ><i class="icon-info"></i> More Info</a>
			
		</div>
		<div class="span5 right">
			<img ng-src="{{cdn}}/img/logo-lg.png" alt="My-Board Logo" class="hidden-phone"/>
		</div>
	</div>
	
</div>
<div class="row main-features">
	<div class="span4">
		<div class="well">
			<h3>
				<i class="icon-briefcase icon-1x"></i>
				Your Career</h3>
			<p>
				Are you working enough to support your habits? View your workload and
				cash flow to help balance your life.
			</p>
			<a class="btn btn-inverse" href="#/career"><span class="btn-label">View My Career</span></a>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<h3>
				<i class="icon-medkit icon-1x"></i>
				Your Health</h3>
			<p>
				Are you living a healthy life? Well find out exactly how active and healthy
				you are, it is your life.
			</p>
			<a class="btn btn-inverse" href="#/health"><span class="btn-label">View My Health</span></a>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<h3>
				<i class="icon-sitemap icon-1x"></i>
				Your Network</h3>
			<p>
				View your social network stats to see how invovled you really are in your
				social networking world.
			</p>
			<a class="btn btn-inverse" href="#/network"><span class="btn-label">View My Network</span></a>
		</div>
	</div>
</div>
<!-- @TODO: [Login / Signup] -->
<div ng-include src="'views/login.html'"></div>
<div ng-include src="'views/signup.html'"></div>