
<div class="container">
  <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a>
  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
      <span class="divider">/</span> 
    </li>
    <li>
      <a href="#">My Network</a>
      <span class="divider">/</span> 
    </li>
    <li class="active">Dashboard</li>
  </ol>
  <div class="row main-features">
    <div class="span2">
      <legend>Networks</legend>
      <ul class="nav nav-list well">
		<li class="nav-header">
			Connected
		</li>
        <li>
          <a href="#"><i class="icon-twitter-sign"></i> Twitter</a> 
        </li>
        <li>
          <a href="#"><i class="icon-instagram"></i> Instagram</a> 
        </li>
		<li class="nav-header">
			Not-Connected
		</li>
		<li>
          <a href="#"><i class="icon-facebook-sign"></i> Facebook</a> 
        </li>
        <li>
          <a href="#"><i class="icon-foursquare"></i> Foursquare</a> 
        </li>
      </ul>
    </div>
    <div class="span10">
      <legend>Social Activity</legend>
      <div class="well well-small">
        <img src="http://placehold.it/750x185&amp;text=Line Chart"> 
      </div>
    </div>
  </div>
  <div class="row sub-features">
    <div class="span6">
      <legend>My Friends</legend>
      <div class="well well-small">
        <img src="http://placehold.it/200x200&amp;text=Doughnut Chart">
        <div class="pull-left chart-legend">
          <ul>
            <li>Facebook: 45</li>
            <li>Twitter: 53</li>
            <li>Instagram: 492</li>
            <li>Foursquare: 120</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span6">
      <legend>My Trends</legend>
      <div class="well well-small">
        <img src="http://placehold.it/200x200&amp;text=Radar Chart">
        <div class="pull-left chart-legend">
          <ul>
            <li>Facebook : 45 / total = %</li>
            <li>Twitter: 53 / total = %</li>
            <li>Instagram: 492 / total = %</li>
            <li>Foursquare: 120 / total = %</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>