


  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
      <span class="divider">/</span> 
    </li>
    <li class="active">My Network</li>
  </ol>
  <div class="row-fluid main-features">
    <div class="span2">
      <legend>Networks</legend>
      <ul class="nav nav-list well">
		<li class="nav-header">
			Connected
		</li>
        <li>
          <a href="#"><i class="icon-twitter-sign"></i> Twitter</a> 
        </li>
        <li>
          <a href="#"><i class="icon-instagram"></i> Instagram</a> 
        </li>
		<li>
          <a href="#"><i class="icon-facebook-sign"></i> Facebook</a> 
        </li>
		<li class="nav-header">
			Not-Connected
		</li>
        <li>
          <a href="#"><i class="icon-foursquare"></i> Foursquare</a> 
        </li>
      </ul>
    </div>
    <div class="span10">
      <legend>Social Analysis</legend>
      <div class="well well-">
		<chartjs id="activityChart" data='{{activityChartData}}' type="bar" width="750" height="185">My Activity</chartjs>
        <img src="http://placehold.it/750x185&amp;text=Line Chart" class="hidden"> 
      </div>
    </div>
  </div>
  <div class="row-fluid sub-features">
    <div class="span6">
      <legend>Friends</legend>
      <div class="well center">
        <img src="http://placehold.it/200x200&amp;text=Doughnut Chart" class="hidden">
		<chartjs id="friendsChart" data='{{friendsChartData}}' type="polar" width="200" height="200">My Friends</chartjs>
		<ul class="inline">
          <li ng-repeat="item in friendsChartData">
          <i class="icon-{{item.label.toLowerCase()}}"></i>	{{item.label}}: <span class="label" style="background-color: {{item.color}};">{{item.value}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="span6">
      <legend>Trends</legend>
      <div class="well well-">
        <img src="http://placehold.it/200x200&amp;text=Radar Chart" class="hidden">
		<chartjs id="trendsChart" data='{{trendsChartData}}' type="column" width="400" height="200">My Trends</chartjs>
		
      </div>
    </div>
  </div>
