<p>
	This is the oauth view.
</p>
<pre>{{params | json}}</pre>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<div class="container">
	<div class="row-fluid">
		<div class="span5">
			<div class="clearfix well well-small">
				<!--Sidebar content-->
				<div class="pull-left">
					<img src="http://placehold.it/100x100" class="img-polaroid"/>
				</div>
				<div class="user-meta">
					<h3>Jonnie Spratley</h3>
					<div class="klout">
						<span class="score">23</span>
					</div>
				</div>
			</div>
		</div>
		<div class="span7">
			<!--Body content-->
		</div>
	</div>
</div>