<widget title="Your Profile">
	<div id="profile-row" class="row-fluid">
		<div class="span7">
			<form class="form-horizontal" id="profile-form" ng-submit="App.saveUser(user);">
				<formitem title="Username:">
					<input type="text" class="input-block-level" ng-model="user.username"/>
				</formitem>
				<formitem title="Email:">
					<input type="email" class="input-block-level" ng-model="user.email"/>
				</formitem>
				<formitem title="Name:">
					<input type="text" class="input-block-level" ng-model="user.name"/>
				</formitem>
				<formitem title="Gender:">
					<input type="text" class="input-block-level" ng-model="user.gender"/>
				</formitem>
				<formitem title="Height:">
					<input type="text" class="input-block-level" ng-model="user.height"/>
				</formitem>
				<formitem title="Weight:">
					<input type="number" class="input-block-level" ng-model="user.weight"/>
				</formitem>
				<formitem title="Weekly Activity Goal:">
					<select class="input-block-level" ng-model="user.activity">
						<option value="30">Less than 30 min./day of moderate activity</option>
						<option value="45">More than 30 min./day of moderate activity</option>
						<option value="60">Less than 60 min./day of moderate activity</option>
						<option value="120">More than 60 min./day of moderate activity</option>
					</select>
				</formitem>
				<formitem title="Daily Calories Goal:">
					<input type="number" class="input-block-level" ng-model="user.calories"/>
				</formitem>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">
						Update Profile
					</button>
				</div>
			</form>
		</div>
		<div class="span5">
			<p class="center">
				<img src="http://placehold.it/250x250&text=Gravatar" ng-src="{{user.avatar}}" alt="Profile Image" class="img-polaroid"/>
			</p>
			<div class="alert alert-info">
				To change goto <a href="http://gravatar.com" target="_blank">gravatar.com</a>
			</div>
			
		</div>
	</div>
</widget>